
*{
    color:rgb(73, 88, 10);
    background-color: beige;
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
   
}
a img {
height:auto;
width: 500px;
padding: 1%;
float: left;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(139, 165, 45) ;
    font-size: 40px;
    color: rgb(139, 165, 45);
}
h1,h2,h3 
{
    color: rgb(139, 165, 45);
}
.center{
padding-left: 9%;
}